.footer {
  background: #1e2534;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  width: 100%;
  margin-top:auto; 
  position: relative; 
}

.footer.expanded {
  background: #494848;
  padding-bottom: 60px;
}

.footer-expanded-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.footer.expanded .footer-expanded-content {
  opacity: 1;
  max-height: 400px;
}

.footer-column h4 {
  color: #deb44b;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  color: #eee9e5;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-column li:hover {
  color: #deb44b;
}

@media (max-width: 768px) {
  .footer-expanded-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-column {
    text-align: center;
  }
}
