/* Ürün Listesi Düzeni */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  justify-items: center;
}

/* Ürün Kartı */
.product-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 280px;
  min-height: 470px;
}

.product-card:hover {
  transform: scale(1.03);
}

/* Ürün Görseli */
.product-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

/* Ürün Bilgisi */
.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  gap: 8px;
}

.product-info h3 {
  font-size: 14px;
  color: #95713b;
  margin: 0;
}

.product-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.product-info p {
  font-size: 14px;
  color: #666;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Fiyat */
.price {
  font-weight: bold;
  font-size: 16px;
  color: #1e2534;
}

/* Butonlar */
.product-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.fav-btn,
.cart-btn {
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #ccc;
}

.fav-btn.active {
  color: #d32f2f; /* Kırmızı */
}

.cart-btn.active {
  color: #deb44b; /* Altın sarısı */
}

/* Detay Butonu */
.details-btn {
  margin-top: 15px;
  padding: 10px;
  background: #494848;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}

.details-btn:hover {
  background: #1e2534;
}
