/* Ortak Slider Stil */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 60px;
  
}

/* Tam Ekran Slider */
.fullscreen-slider {
  height: 100vh;
  margin-bottom: 60px;
}

/* Standart Banner */
.standard-slider {
  height: 400px;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Slider Görseli */
.slide-image {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/* Navigasyon Okları */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* Mobil Uyum */
@media (max-width: 768px) {
  .fullscreen-slider {
    height: 85vh;
    margin-bottom: 40px;
  }

  .standard-slider {
    height: 280px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .prev, .next {
    padding: 8px;
    font-size: 18px;
  }
  .fullscreen-slider {
    height:fit-content;
    margin-bottom: 60px;
  }
}
