* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

body {
  color: #333;
  background-color: #eee9e5;
  background-image: url("/images/taki-dunyasi-logo.png");
  background-repeat: repeat;
  background-size: 120px 120px;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: lighten;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button, .btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn-primary {
  background: black;
  color: white;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #d32f2f;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 30px;
}
h1{
  margin-top: 40px;
  margin-bottom: 50px;

}


@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
