#root {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  min-height: 100vh;
}

.main-wrapper.no-padding {
  padding-top: 0 !important;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 80px; 
}
.app-container.no-padding .page-content {
  padding-top: 0 !important;
}
